.content {
  width: 85%;
  min-height: 750px;
  min-width: 600px;
  background-color: $secondary-color;
  > * {padding-left: 30px;};
  > * {font-size: 1rem;};

  h1 {
    -webkit-margin-before: 0;
    padding-top: 40px;
  }

  p {
    width: 55%;
    min-width: 550px;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  ul {
    list-style-type: square;
    list-style-position: inside;
  }
}  